@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-light">GezGör Türkiye'ye Hoş Geldiniz</h1>
    <p class="lead text-light">Türkiye'nin en güzel şehirlerini keşfedin, rotalarınızı planlayın!</p>
    <a href="/Mekan/Index" class="btn btn-primary btn-lg mt-3">
        <i class="fas fa-map-marked-alt"></i> Mekanları Gör
    </a>
</div>
